@font-face {
    font-family: 'Minecraft';
    src: url('/Assets/') format('truetype');
  }
  body {
    font-family: 'Minecraftia', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizar Sans", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://img.freepik.com/fotos-premium/vibrante-fondo-eventos-esports-controladores-juego-neon-elementos-digitales-futuristas_43969-62587.jpg?semt=ais_items_boosted&w=740") no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .contenedor {
    position: relative;
    width: 27rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  /* Ocultar todos los formularios por defecto */
  .formulario {
    display: none;
  }
  

  
  .formulario h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .campo {
    position: relative;
    margin: 1.25rem 0;
  }
  
  .campo input {
    width: 100%;
    padding: 0.75rem 2.5rem 0.75rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: transparent;
    color: white;
    outline: none;
  }
  
  .campo input::placeholder {
    color: #ccc;
  }
  
  .campo i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 2rem;
    background: white;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .enlaces {
    margin-top: 1rem;
    text-align: center;
  }
  
  .enlaces label {
    color: #aee3ff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .enlaces label:hover {
    color: #fff;
  }
  