.block{
    border: 1px solid black;
    display: block;
    background-color: cornflowerblue;
    color: white;
    margin: 5px;
    padding: 10px;
}

.inline{
    display: inline;
    background-color: orange;
    color: black;
    margin: 5px;
    padding: 10px;
}