body{
    margin: 0;
    font-family: sans-serif;
}

.hero{
    height: 100vh;
    background: linear-gradient(to right, #f57883, #7b3a56);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.9;
    transition: background 0,5 ease;
    color: white;
    border-radius: 12%;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(63, 63, 63);
}

.button:active{
    background-color: rgba(255, 255, 255, 1);
    transform: scale(0.95);
    color: black;
}